<link rel="stylesheet" href="/assets/css/about.css">
<div class="user-details">
<h1>这个部分将用于介绍我人生各个阶段的事件，它们将比我的简历更加生动</h1>
<p>edit....</p>
</div>


<h1> - 2010 - </h1>
<div class="bg1 bgstyle"></div>
<div class="bgtable">
<h1 class="user-details">undefind</h1> </div>

<div class="bg2 bgstyle"></div>
<div class="bgtable">
<h1 class="user-details">undefind</h1> </div>

<div class="bg3 bgstyle"></div>
<div class="bgtable">
<h1 class="user-details">undefind</h1> </div>




<div class="bg1 bgstyle"></div>
<div class="bgtable">
<h1 class="user-details">undefind</h1> </div>

<div class="bg2 bgstyle"></div>
<div class="bgtable">
<h1 class="user-details">undefind</h1> </div>

<div class="bg3 bgstyle"></div>
<div class="bgtable">
<h1 class="user-details">undefind</h1> </div>
