 <div class="user-details">
  <h1> change to here </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>旅程</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>从3ds max到maya再到C4D 似乎是一个享受的过程</p>
    </div>
    <div class="tech">
      <h2>思想</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>在思想上相信通过交流 我们会有一个相对的见解</p>
    </div>
    <div class="tech">
      <h2>未来</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>这是一篇blog 但也可以不仅仅是blog</p>
    </div>
</div>
