 <div class="user-details">
  <h1> I am also new here </h1>
  <p> editing... </p>
</div>



<div style="height: 600px; " class="bg1"></div>
<div style="height:400px; background-color: white;">
  undefined</div>

<div style="height: 600px; " class="bg2"></div>
<div style="height:400px; background-color: white;">undefined</div>

<div style="height: 600px; " class="bg3"></div>
<div style="height:400px; background-color: white;">undefined</div>

<div style="height: 600px; " class="bg1"></div>
<div style="height:400px; background-color: white;">undefined</div>

<div style="height: 600px; " class="bg2"></div>
<div style="height:400px; background-color: white;">undefined</div>

<div style="height: 600px; " class="bg3"></div>
<div style="height:400px; background-color: white;">undefined</div>
