<footer class="footer">
    <p><a class="up" href="#projects" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i>
        &copy; Rushiera - Shieraru</a></p>
    <p>Based to on the <span class="love">❤</span>  <a href="https://pages.github.com/">Github Pages</a></p>
</footer>
<script src="../assets/js/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
