<footer class="footer" >
    <a class="down" href="#top" data-scroll style="top: 0%; display: none;"id="back-top"><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
    <p>&copy; Rushiera - Shieraru</p>
    <p>Based to on the <span class="love"><i class="icon fa fa-github-alt" aria-hidden="true"></i></span>  <a href="https://pages.github.com/">Github Pages</a></p>
  </footer>

<script src="../assets/js/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
