<footer class="footer">
    <p><a class="up" href="#projects" title="返回顶部" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
        &copy; Rushiera - Shieraru</p>
    <p>Based to on the <span class="love">❤</span>  <a href="https://pages.github.com/">Github Pages</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
