<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description" id="sap" style="margin: 0.6em;">“ ”</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" title="e-hentai@qq.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" title="@cn_shieraru"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My QQ" title="569145850"><i class="icon fa fa-qq" aria-hidden="true"></i></a>
        <a aria-label="My Github" title="My Github - 不可能有技术含量" target="_blank" href="https://github.com/Rushiera"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="/myblog/"> My Blog</a><p>
        <a class="link" href="#projects" style="text-decoration: line-through;" id="resume" onclick="resumechange()">个人简历</a>
       </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>

<style>
   .link:hover{
    background-color:white;
    color: black;}
   .link:active{
     background-color: transparent;
     color:red ;}
  </style>

<script>
  function resumechange(){
      document.getElementById("resume").href="#projects";
      document.getElementById("resume").style="text-decoration: none;"
      var nv = document.getElementById("resume");
      nv.innerHTML="别点了,没有的";
      setTimeout("resumechange2()","1300");}
  function resumechange2(){
      document.getElementById("resume").style="text-decoration: line-through;"
      var nv = document.getElementById("resume");
      nv.innerHTML="个人简历";}

  function fixsp(){
      var fixs = document.getElementById("sap");
      fixs.innerHTML="“ ”";
      setTimeout(function(){fixs.innerHTML="“ ”";},"160");
      setTimeout(function(){fixs.innerHTML="“|”";},"320");
      setTimeout(function(){fixs.innerHTML="“用”";},"480");
      setTimeout(function(){fixs.innerHTML="“用|”";},"640");
      setTimeout(function(){fixs.innerHTML="“用投”";},"800");
      setTimeout(function(){fixs.innerHTML="“用投|”";},"960");
      setTimeout(function(){fixs.innerHTML="“用投资”";},"1120");
      setTimeout(function(){fixs.innerHTML="“用投资|”";},"1280");
      setTimeout(function(){fixs.innerHTML="“用投资者”";},"1440");
      setTimeout(function(){fixs.innerHTML="“用投资者|”";},"1600");
      setTimeout(function(){fixs.innerHTML="“用投资者的”";},"1760");
      setTimeout(function(){fixs.innerHTML="“用投资者的|”";},"1920");
      setTimeout(function(){fixs.innerHTML="“用投资者的思”";},"2080");
      setTimeout(function(){fixs.innerHTML="“用投资者的思|”";},"2240");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维”";},"2400");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维|”";},"2560");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去”";},"2720");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去|”";},"2880");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创”";},"3040");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创|”";},"3200");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造”";},"3360");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造|”";},"3530");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,|”";},"3680");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以”";},"3840");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以|”";},"4000");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开”";},"4160");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开|”";},"4320");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发”";},"4480");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发|”";},"4640");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者”";},"4800");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者|”";},"4960");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的”";},"5120");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的|”";},"5280");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角”";},"5440");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角|”";},"5600");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度”";},"5760");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度|”";},"5920");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去”";},"6080");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去|”";},"6240");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分”";},"6400");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分|”";},"6560");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析”";},"6720");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析|”";},"6880");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所”";},"7040");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所|”";},"7200");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看”";},"7360");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看|”";},"7560");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见”";},"7680");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见|”";},"7840");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的”";},"8000");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的|”";},"8160");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事 ”";},"8320");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事|”";},"8560");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事物 ”";},"8700");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事物|”";},"9400");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事物”";},"9940");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事物|”";},"10480");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事物 ”";},"11020");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事物|”";},"11520");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的事|”";},"11560");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见的|”";},"11600");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看见|”";},"11640");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所看|”";},"11680");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析所|”";},"11720");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分析|”";},"11760");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去分|”";},"11800");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度去|”";},"11840");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角度|”";},"11880");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的角|”";},"11920");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者的|”";},"11960");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开发者|”";},"12000");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以开|”";},"12040");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,以|”";},"12080");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造,|”";},"12120");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创造|”";},"12160");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去创|”";},"12200");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维去|”";},"12240");
      setTimeout(function(){fixs.innerHTML="“用投资者的思维|”";},"12280");
      setTimeout(function(){fixs.innerHTML="“用投资者的思|”";},"12320");
      setTimeout(function(){fixs.innerHTML="“用投资者的|”";},"12360");
      setTimeout(function(){fixs.innerHTML="“用投资者|”";},"12400");
      setTimeout(function(){fixs.innerHTML="“用投资|”";},"12440");
      setTimeout(function(){fixs.innerHTML="“用投|”";},"12480");
      setTimeout(function(){fixs.innerHTML="“用|”";},"12520");
      setTimeout(function(){fixs.innerHTML="“|”";},"12560");
      setTimeout(function(){fixs.innerHTML="“ ”";},"13020");
      setTimeout(function(){fixs.innerHTML="“|”";},"13480");
      setTimeout(function(){fixs.innerHTML="“ ”";},"13940");
      setTimeout(function(){fixs.innerHTML="“|";},"14400");
      setTimeout(function(){fixs.innerHTML="“ ";},"14900");
      setTimeout(function(){fixsp();},"15000");
      
  }
      //用投资者的思维去创造,以开发者的角度去分析所看见的事物
</script>


</div>