<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description" id="sap" style="margin: 0.6em;">“ ”</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" title="e-hentai@qq.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" title="@cn_shieraru"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My QQ" title="569145850"><i class="icon fa fa-qq" aria-hidden="true"></i></a>
        <a aria-label="My Github" title="My Github - 不可能有技术含量" target="_blank" href="https://github.com/Rushiera"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="/myblog/"> My Blog</a><p>
        <a class="link" href="#projects" style="text-decoration: line-through;" id="resume" onclick="resumechange()">个人简历</a>
       </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>

<style>
   .link:hover{
    background-color:white;
    color: black;}
   .link:active{
     background-color: transparent;
     color:red ;}
  </style>

<script src="../assets/js/index.js"></script>

</div>