<div class="user-details">
  <h1> 当然 不仅仅是这些</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ShineraruOS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ShineraruOS </h3>
    <ul>
      <li> by form Arcaea</li>
    </ul>
    <p>一个特殊的Arcaea 可以带给你一个全新体验 目前他拥有ios与安卓两个版本</p>
    <a class="project-link" href="#">如果想要体验 请联系我</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mishiro.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> mishiro </h3>
    <ul>
      <li> special objects</li>
    </ul>
    <p>试图改变默认link的方法失败了 近期思考解决方案</p>
    <a class="project-link" href="#">请联系我</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
  </div>
  <div class="contents">
    <h3> 就从这里续写 </h3>
    <ul>
      <li> to days</li>
    </ul>
    <p>我可不想猝死啊啊啊((</p>
  </div>
</div>