<div class="user-details">
  <h1> 当然还有一些项目 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ShineraruOS </h3>
    <ul>
      <li> by form Arcaea</li>
    </ul>
    <p>一个特殊的Arcaea 可以带给你一个全新体验 目前他拥有ios与安卓两个版本</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> mishiro </h3>
    <ul>
      <li> special objects</li>
    </ul>
    <p>从mltd到cgss 似乎unityFS在这种场合下毫无用武之地</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
