<div class="user-details">
  <h1> 当然 不仅仅是这些</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ShineraruOS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ShineraruOS </h3>
    <ul>
      <li> by form Arcaea</li>
    </ul>
    <p>#%##############</p>
    <a class="project-link" href="#">请联系我</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mishiro.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> mishiro </h3>
    <ul>
      <li> special objects</li>
    </ul>
    <p>#%##############</p>
    <a class="project-link" href="#">请联系我</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
  </div>
  <div class="contents">
    <h3> 就从这里续写 </h3>
    <ul>
      <li>#%##############</li>
    </ul>
    <p>请联系我</p>
  </div>
</div>