.bgstyle{
    height: 600px;
    width: 100%;
}
.bgtable{
    height: 250px;
    width: 100%;
    background-color: white;
}

.bg1{
    background: url(/assets/img/about-bg1.jpg) no-repeat center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    background-size: 100%;
  }
  .bg2{
    background: url(/assets/img/about-bg2.jpg) no-repeat center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    background-size: 100%;
  }
  .bg3{
    background: url(/assets/img/about-bg3.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
  }